{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1 style="text-align:center">Add/Reduce Transaction</h1>
  <form method="POST">
    {% csrf_token %}
    {% include 'includes/error.html'%}
    <div class="mb-3">
      <label for="category">Category</label>
      <select name="category" class="form-control" onchange="this.form.submit()">
        <option value="">Select</option>
        {% for cat in categories %}
          <option value="{{ cat.id }}" {% if cat.id|stringformat:"s" == selected_category_id %}selected{% endif %}>{{ cat.name }}</option>
        {% endfor %}
      </select>
    </div>
    
     <div class="mb-3">
      <label for="item">Item</label>
      <select class="form-control" id="item" name="item">
        <option value="">Select</option>
        {% for item in items %}
          <option value="{{ item.id }}">{{ item.name }}</option>
        {% endfor %}
      </select>
    </div>

     <div class="mb-3">
      <label for="transaction_type">Transaction Type</label>
      <select class="form-control" name="transaction_type">
        <option value="">Select</option>
        <option value="add">Add</option>
        <option value="reduce">Reduce</option>
      </select>
    </div>

    <div class="mb-3">
      <label for="quantity">Quantity</label>
      <input type="number" class="form-control" id="quantity" name="quantity" min="1" >
    </div>
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
  </form>

  <script>
  const accessToken = localStorage.getItem('access');

  $.ajax({
    url: '/api/protected/',  // your protected API
    method: 'GET',
    headers: {
      'Authorization': 'Bearer ' + accessToken
    },
    success: function (data) {
      console.log('Protected data:', data);
    },
    error: function () {
      console.log('Unauthorized or token expired');
    }
  });
</script>
{% endblock %}