{% extends 'base.html'%}
{% load static%}
{% block content %}
<h1  style="text-align:center">Add Items</h1>
<form method = "POST">
    {% include 'includes/error.html'%}
    {% csrf_token %}
    <div class="mb-3">
        <label for="category">Category</label>
        <select class="form-control" id="category" name="category">
            <option value ="">select</option><br>
            {% for category in categories%}
            <option value ="{{category.id}}">{{category.name}}</option><br>
            {% endfor %}
        </select>
        <label for="name">Item name</label>
        <input type="text" id="name" name="name" value = "{{form.name.value | default:''}}"><br>
        <label for="description">description</label>
        <input type="text" id="description" name="description" value="{{form.description.value | default:''}}"><br>
        <label for="unit">Unit</label>
        <input type="text" id="unit" name="unit"  ><br>
        <label for="current_stock">Current_stock</label>
        <input type="text" id="current_stock" name="current_stock">
    </div>
        <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>

<script>
  const accessToken = localStorage.getItem('access');

  $.ajax({
    url: '/api/protected/',  // your protected API
    method: 'GET',
    headers: {
      'Authorization': 'Bearer ' + accessToken
    },
    success: function (data) {
      console.log('Protected data:', data);
    },
    error: function () {
      console.log('Unauthorized or token expired');
    }
  });
</script>
{% endblock %}